@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
@import "_normalize";
@import "_variables";
@import "_grid";
@import "_header";


html {
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
}

h1, h2, h3 {
  color: $violet;
}

p, li {
  color: $blackGrey;
}